

	<nav>


<ul>
		
			<li><a href="{{ site.baseurl }}/"> Home</a></li>
				<li class="circle"><a href="#"></a></li>
			<li><a href="{{ site.baseurl }}/pagetwo/"> About Me</a></li>
					<li class="circle"><a href="#"></a></li>
			<li><a href="{{ site.baseurl }}/pagethree/">Services</a></li>
					<li class="circle"><a href="#"></a></li>

			<li><a href="#">Small Details</a></li>
					<li class="circle"><a href="#"></a></li>

			<li><a href="#">Testimonials</a></li>
					<li class="circle"><a href="#"></a></li>
			<li><a href="#">Contact</a></li>
					<li class="circle"><a href="#"></a></li>

				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="pinterest"><a href="#"></a></li>
					

</ul>

</nav>


</header>